/* pages/login/login.wxss */

page{
  background: #eee;
}
.avatar-wrapper {
  padding: 0;
  width: 100px !important;
  height: 100px;
  border-radius: 8px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.avatar {
  display: block;
  width: 100px;
  height: 100px;
}

.baseInfo{
  padding:20rpx 10rpx;
}
.baseInfo image{
  width: 10rpx;
  height: 30rpx;
  vertical-align: middle;
  margin-right: 10rpx;
}
.baseInfo text{
  font-size: 28rpx;
  color: #eee;
}
.list{
  color: #eee;
  font-size: 40rpx;

}

 
 
.name,.sex,.phone,.info{
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 30rpx;
  border-bottom: 1rpx solid #a5a4a4;
}
.name input,.phone input,.info input{
  text-align:right;
 
}
.sex{
  background: transparent;
}
.radio radio{
  margin-left: 30rpx;
  line-height: 70rpx;
}
 
.submit{
  background-color: #FE6702;
  color: #fff;
  position: relative;
  top: 40rpx;
  bottom: 0;
  left: 0;
  width: 100%;
}

.modal view{
  text-align: center;

}

.login-dialog{
  width: auto!important;
}

.itemClass{
  border-bottom: 2rpx solid gray;
  padding: 20rpx;
  display: flex;
  align-items: flex-start;
}
.itemClass text{
  flex: none;
  line-height: 70rpx;
}
.itemClass2{
  border-bottom: 2rpx solid gray;
  padding: 20rpx;
}
.finish{
  float: right;
  margin: 10rpx 30rpx 0 0;
  padding: 15rpx 30rpx;
  background: #419f8c;
  color: #FFF;
  border-radius: 20rpx;
}
.authorizeDialog button{
  width: 100% !important;
}
.authorizeBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90rpx;
  position: absolute;
  bottom: 46rpx;
  width: 100%;
}
.authorizeBtn view:nth-child(1){
  margin: 0 20rpx;
  background: #FFF;
  color: #07c160;
  padding: 12rpx 60rpx;
  font-size: 28rpx;
}
.authorizeBtn view:nth-child(2){
  margin: 0 20rpx;
  background: #07c160;
  color: #FFF;
  padding: 12rpx 60rpx;
  font-size: 28rpx;
}

.van-dialog-body{
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-user-image{
  width: 100vw;
}
.close-icon{
  position: absolute;
  right: 20rpx;
  top: 0;
  width: 70rpx;
  height: 70rpx;
}
